@model OutraChance.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card text-bg-light mb-3" style="width:50%">
        <h1 class="card-header">Novo Usuário</h1>
        <div class="card-body d-flex justify-content-center align-items-center">
            <div style="width:75%">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" id="cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Data_Nascimento" class="control-label"></label>
                        <input asp-for="Data_Nascimento" class="form-control" />
                        <span asp-validation-for="Data_Nascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" id="tel" class="form-control" placeholder="(11) 9 9999-9999" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                        <input asp-for="ConfirmacaoSenha" class="form-control" />
                        <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label"></label>
                        <input type="file" asp-for="ImagemUpload" class="form-control" />
                        <span asp-validation-for="ImagemUpload" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                        <input type="reset" value="Limpar" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
   
    <script>
        $('#cpf').mask('000.000.000-00', { reverse: true });
        $('#tel').mask('(00) 0 0000-0000');
    </script>
}
