@model OutraChance.Models.Anuncio

@{
    ViewData["Title"] = "Tenis Adidas Azul";
}

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card border-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://global.cdn.magazord.com.br/modaze/img/2023/01/produto/21180/anuncio-tenis-adidas-azul-2-ebebeb.jpg?ims=fit-in/580x580/filters:fill(white)" width="250" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product pt-4">
                            <div class="mt-3 mb-3">
                                <h5>Tênis Adidas Azul</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <div class="ml-2">
                                        <b>Vendido e entregue por:  Rodrigo Soares</b>
                                        <img src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-usuario-em-estilo-plano-ilustracao-em-vetor-avatar-membro-em-fundo-isolado-conceito-de-negocio-de-sinal-de-permissao-humana_157943-15752.jpg" class="rounded-circle" alt="..." height="50" width="50">
                                    </div>
                                </div>
                            </div>
                            <p class="about">Descrição do Anúncio</p>
                            <div>
                                <b class="fs-3 text-warning">R$150,00</b>
                            </div>
                            <div>
                                <b>Cor: Azul</b>
                            </div>
                            <div>
                                <b>Tamanho: P</b>
                            </div>
                            <div class="d-grid gap-2 col-6 mt-4">
                                <button class="btn btn-success" type="button">Eu quero</button>
                                <button class="btn btn-warning" type="button">Favorito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>