@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutraChance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OutraChance.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
           <div class="container-fluid">
                <a class="navbar-brand" href="~/Anuncios">Outra Chance</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form asp-action="Index" method="get">
                    <div class="navbar-nav flex-grow-1">
                        <input type="text" name="filtro" placeholder="Pesquisar" />
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
                <div class="collapse navbar-collapse me-2" id="navbarSupportedContent">
                    <div class="navbar-nav me-2">
                     <ul class="navbar-nav me-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Anuncios" asp-action="Create">Anunciar</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Meu perfil</a>
                          </li>
                        }
                     <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                          <li class="nav-item me-2">
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                          </li>
                        }
                         else
                        {
                           <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                           </li>
                     <ul class="navbar-nav flex-grow-1">
                           <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Criar Conta</a>
                           </li>
                     </ul>
                        }
                     </ul>
                    
                    </div>
                </div>
           </div>
        </nav>
    </header>

   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OutraChance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
