@using System.Security.Claims;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutraChance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OutraChance.styles.css" asp-append-version="true" />
   
</head>
<body>
    <header>
       <div class="container px-1">
        <div class="row" id="rowMenu" name="rowMenu">
          <nav class="navbar">
                <div id="colOutraChance" name="colOutraChance">
                    <a class="navbar-brand" href="~/Anuncios">Outra Chance</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col" id="colFiltroPesquisa" name="colFiltroPesquisa" style="display: inherit">
                <form class="nav-search justify-contente-center" action="Anuncios" method="GET" role="search" style="display: inherit;">
                    <input type="text" class="nav-search-input" id="filtro" aria-label="Digite o que você quer encontrar" name="filtro" placeholder="Buscar produtos, marcas e muito mais…" >
                    <button type="submit" class="nav-search-btn"><div role="img" aria-label="Buscar" class="nav-icon-search"></div></button>                
                </form>
                </div>
                    <div class="col px-1" id="colMenus" name="colMenus">
                            @if (User.Identity.IsAuthenticated)

                            {
                                 <div class="col">
                                     <div class="nav-item">
                                          <a class="nav-link text-dark" asp-area="" asp-controller="Anuncios" asp-action="Create">Anunciar</a>
                                     </div>
                                 </div>
                                 <div class="col" id="colMeuPerfil" name="colMeuPerfil"> 
                                     <div class="nav-item">
                                          <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Meu perfil</a>
                                     </div>
                                 </div>
                               
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="row">
                                     <div class="col">
                                    Olá, @User.Identity.Name 
                                     </div>
                                     <div class="col">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                                     </div>
                               </div>
                            }
                            else
                            {
                                <div class="col">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Criar Conta</a>
                                </div>
                                 <div class="col">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                                </div>
                            
                                
                            }
                       
                    </div>
          </nav>
            
        </div>
        </div>
       
    </header>
   
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OutraChance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
